@using System.Drawing
@using static Controls.Colors.ColorExtensions

<span class="@TypeClass @PositionClass" style=@style>
    @ChildContent
</span>

@code {
    private string? style;
    private Color backgroundColor, textColor;

    private string TypeClass => BadgeTypeValue switch
    {
        BadgeType.Rectangle => "badge-rectangle",
        BadgeType.Square => "badge-square",
        BadgeType.Circle => "badge-circle",
        _ => string.Empty,
    };

    private string PositionClass => Position switch
    {
        BadgePosition.UpperLeft => "badge-upperleft",
        BadgePosition.UpperRight => "badge-upperright",
        BadgePosition.LowerLeft => "badge-lowerleft",
        BadgePosition.LowerRight => "badge-lowerright",
        BadgePosition.Inline => "badge-inline",
        _ => string.Empty,
    };

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent {  get;  set; }

    [Parameter, EditorRequired]
    public Color BackgroundColor { get; set; }

    [Parameter]
    public BadgeType BadgeTypeValue { get; set; } = BadgeType.Rectangle;

    [Parameter]
    public BadgePosition Position { get; set; } = BadgePosition.Inline;

    protected override void OnParametersSet()
    {
        if (backgroundColor != BackgroundColor)
        {
            backgroundColor = BackgroundColor;
            textColor = BackgroundColor.GetContrastingTextColor();
            style = $"--badge-background-color:{backgroundColor.ToRGBStyle()};--badge-color:{textColor.ToRGBStyle()};";
        }
    }
}