.badge-rectangle, .badge-square, .badge-circle {
    font-size: .85rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.475rem;
    height: fit-content;
    background-color: var(--badge-background-color);
    color: var(--badge-color);
}

.badge-rectangle {
    display: inline-block;
    padding: 0.5em 0.85em;
}

.badge-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    min-width: 1.75rem;
    padding: 0 0.1rem;
}

.badge-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    min-width: unset;
    width: fit-content;
    height: fit-content;
}

.badge-inline {
    margin-left: 0.5rem;
}

.badge-upperleft, .badge-upperright, .badge-lowerleft, .badge-lowerright {
    position: absolute;
    transform: translate(-50%,-50%);
}

.badge-upperleft {
    left: 0;
    top: 0;
}

.badge-upperright {
    left: 100%;
    top: 0;
}

.badge-lowerleft {
    left: 0;
    top: 100%;
}

.badge-lowerright {
    left: 100%;
    top: 100%;
}
