@using System.Drawing
@using static Controls.Colors.ColorExtensions

<span class=@CssClass @attributes=@InputAttributes>
    @ChildContent
</span>

@code {
    private string? CssClass => $"{BadgeTypeValue} {Position} {Class}";

    private string TypeClass => BadgeTypeValue switch
    {
        BadgeType.Rectangle => "badge-rectangle",
        BadgeType.Square => "badge-square",
        BadgeType.Circle => "badge-circle",
        _ => string.Empty,
    };

    private string PositionClass => Position switch
    {
        BadgePosition.UpperLeft => "badge-upperleft",
        BadgePosition.UpperRight => "badge-upperright",
        BadgePosition.LowerLeft => "badge-lowerleft",
        BadgePosition.LowerRight => "badge-lowerright",
        BadgePosition.Inline => "badge-inline",
        _ => string.Empty,
    };

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? InputAttributes { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent {  get;  set; }

    [Parameter]
    public BadgeType BadgeTypeValue { get; set; } = BadgeType.Rectangle;

    [Parameter]
    public BadgePosition Position { get; set; } = BadgePosition.Inline;

    [Parameter]
    public string? Class { get; set; }
}