@using System.Drawing;
@using Controls.CssStates
@using static Controls.Colors.ColorExtensions;

<span class="@TypeClass @PositionClass" style="@Style?.Value">
    @ChildContent
</span>

@code {
    private string TypeClass => BadgeTypeValue switch
    {
        BadgeType.Rectangle => "badge-rectangle",
        BadgeType.Square => "badge-square",
        BadgeType.Circle => "badge-circle",
        _ => string.Empty,
    };

    private string PositionClass => Position switch
    {
        BadgePosition.UpperLeft => "badge-upperleft",
        BadgePosition.UpperRight => "badge-upperright",
        BadgePosition.LowerLeft => "badge-lowerleft",
        BadgePosition.LowerRight => "badge-lowerright",
        BadgePosition.Inline => "badge-inline",
        _ => string.Empty,
    };

    [Parameter]
    public CssStyle? Style { get; set; }

    [Parameter]
    public RenderFragment? ChildContent {  get;  set; }

    [Parameter]
    public BadgeType BadgeTypeValue { get; set; } = BadgeType.Rectangle;

    [Parameter]
    public BadgePosition Position { get; set; } = BadgePosition.Inline;
}