@using Controls.Buttons;

<Button>
    <span class="collapsible-btn-container">
	    <span class="collapsible-btn-content">@ChildContent</span>
	    <span class="collapsible-btn-arrow @CollapsedArrowClass"></span>
    </span>
</Button>




@code {
    private string? CollapsedArrowClass => IsCollapsed ? "collapsible-btn-arrow-active" : null;

    [Parameter]
    public bool IsCollapsed { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
