@using Controls.Selection;

@typeparam TItem where TItem : ISelectable

<div class="collapsible @Class">
    @Template
</div>

@code {
    private string? Class => IsCollapsed ? null : "hidden";

    [Parameter]
    public bool IsCollapsed { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment Template { get; set; }

    [EditorRequired]
    [Parameter]
    public TItem Item { get; set; }

    protected override void OnParametersSet()
    {
        Item.OnSelect += OnSelect;
    }

    public void OnSelect(object? sender, bool isSelected)
    {
        IsCollapsed = isSelected;
        StateHasChanged();
    }
}
