
<div class="collapsible @Class">
    @Template
</div>

@code {
    private string? Class => IsCollapsed ? null : "hidden";

    [Parameter]
    public bool IsCollapsed { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment Template { get; set; }
}
