<div class="collapsible @Class">
    @ChildContent
</div>

@code {
    private string? Class => IsCollapsed ? null : "hidden";

    [Parameter]
    public bool IsCollapsed { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
