@using Controls.Css
@using Controls.DynamicComponents
@using Controls.Lists
@using System.Collections.Immutable
@using System.Drawing

@implements ICustomizable

<div class="alert-container @CssClasses" style="@positionStyle @CssStyles">
    <CascadingValue Value=this IsFixed=true>
        @foreach (var metadata in Publisher.Alerts)
        {
            <DynamicComponent Type="metadata.ComponentType" Parameters="metadata.Parameters"></DynamicComponent>
        }
    </CascadingValue>
    
</div>

@code {
    private string? positionStyle = null;

    [Parameter, EditorRequired]
    public AlertPublisher Publisher { get; set; } = new();

    [Parameter]
    public AlertLocation Location { get; set; } = AlertLocation.LowerRight;

    [Parameter]
    public Classes? CssClasses { get; set; }

    [Parameter]
    public Styles? CssStyles { get; set; }

    protected override void OnParametersSet()
    {
        positionStyle = Location switch
        {
            AlertLocation.UpperLeft => "top:0;left:0;",
            AlertLocation.UpperRight => "top:0;right:0;",
            AlertLocation.LowerLeft => "bottom:0;left:0;",
            AlertLocation.LowerRight => "bottom:0;right:0;",
            _ => "",
        };
        Publisher.OnAlertsChanged += OnAlertsChanged;
    }

    private void OnAlertsChanged(object? _, EventArgs __) => StateHasChanged();
}
