table {
    table-layout: fixed;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}

::deep .title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

::deep .column-title {
    display: flex;
    align-items: center;
    min-width: 0px;
    flex-grow: 1;
}

.column-title-flex {
    position: relative;
    display: flex;
    align-items: stretch;
    user-select: none;
    overflow: hidden;
}

th.sorted-asc:focus-within ::deep .column-title-flex, th.sorted-desc:focus-within ::deep .column-title-flex {
    filter: brightness(0.85);
}