@using System.Drawing
@using System.Text
@using static Controls.Colors.ColorExtensions
@implements IAnimation

<span class="fade" style=@style>
    @ChildContent
</span>


@code {
    private string? style;

    [Parameter]
    public float? Duration { get; set; }

    [Parameter, EditorRequired]
    public Color BackgroundColor { get; set; }

    [Parameter, EditorRequired]
    public Color TextColor { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        StringBuilder styleBuilder = new();
        styleBuilder.AppendFormat("--fade-background-color: {0};--fade-color:{1}", BackgroundColor.ToRGBStyle(), TextColor.ToRGBStyle());
        if (Duration is not null)
            styleBuilder.AppendFormat("--duration: {0};", Duration);
        style = styleBuilder.ToString();
    }
}
