.fade {
    --duration: 0.3s;
    --background-color: #2098D1;
    --color: white;
}

.fade {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: var(--duration);
    transition-duration: var(--duration);
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.fade.active {
    background-color: var(--background-color);
    color: var(--color);
}