@using Controls.Css
@implements IAnimation

<span>
    @ChildContent(classString)
</span>


@code {
    private static readonly Class classString = new("shutter-in-vertical");

    [Parameter, EditorRequired]
    public RenderFragment<Class> ChildContent { get; set; }
}
