::deep .sweepbottom {
    --duration: 0.3s;
    --background-color: #2098D1;
    --color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: var(--duration);
    transition-duration: var(--duration);
}

::deep .sweepbottom:hover, ::deep .sweepbottom:focus, ::deep .sweepbottom:active {
    color: var(--color);
}

::deep .sweepbottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: var(--duration);
    transition-duration: var(--duration);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

::deep .sweepbottom:hover:before, ::deep .sweepbottom:focus:before, ::deep .sweepbottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}