::deep .buzz {
    --duration: 0.75s;
    --count: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

@keyframes buzz {
    10% {
        -webkit-transform: translateX(3px) rotate( 2deg );
        transform: translateX(3px) rotate( 2deg );
    }

    20% {
        -webkit-transform: translateX(-3px) rotate( -2deg );
        transform: translateX(-3px) rotate( -2deg );
    }

    30% {
        -webkit-transform: translateX(3px) rotate( 2deg );
        transform: translateX(3px) rotate( 2deg );
    }

    40% {
        -webkit-transform: translateX(-3px) rotate( -2deg );
        transform: translateX(-3px) rotate( -2deg );
    }

    50% {
        -webkit-transform: translateX(2px) rotate( 1deg );
        transform: translateX(2px) rotate( 1deg );
    }

    60% {
        -webkit-transform: translateX(-2px) rotate( -1deg );
        transform: translateX(-2px) rotate( -1deg );
    }

    70% {
        -webkit-transform: translateX(2px) rotate( 1deg );
        transform: translateX(2px) rotate( 1deg );
    }

    80% {
        -webkit-transform: translateX(-2px) rotate( -1deg );
        transform: translateX(-2px) rotate( -1deg );
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

::deep .buzz:hover, ::deep .buzz:focus, ::deep .buzz:active {
    -webkit-animation-name: buzz;
    animation-name: buzz;
    -webkit-animation-duration: var(--duration);
    animation-duration: var(--duration);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: var(--count);
    animation-iteration-count: var(--count);
}