::deep .push {
    --duration: 0.3s;
    --count: 1;
    transform: perspective(1px) translateZ(0);
}

@keyframes push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

::deep .push:hover, ::deep .push:focus, ::deep .push:active {
    -webkit-animation-name: push;
    animation-name: push;
    -webkit-animation-duration: var(--duration);
    animation-duration: var(--duration);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: var(--count);
    animation-iteration-count: var(--count);
}