::deep .shrink {
    --duration: 0.3s;
    --scale: 0.9;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: var(--duration);
    transition-duration: var(--duration);
    -webkit-transition-property: transform;
    transition-property: transform;
}

::deep .shrink:hover, ::deep .shrink:focus, ::deep .shrink:active {
    -webkit-transform: scale(var(--scale));
    transform: scale(var(--scale));
}