::deep .skew {
    --duration: 0.3s;
    --degree: -10deg;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: var(--duration);
    transition-duration: var(--duration);
    -webkit-transition-property: transform;
    transition-property: transform;
}

::deep .skew:hover, ::deep .skew:focus, ::deep .skew:active {
    -webkit-transform: skew(var(--degree));
    transform: skew(var(--degree));
}