@using Controls.Containers;
@using Controls.Buttons;
@using Controls.Badges;
@using System.Drawing;

<div class="header-left">
    <h3 class="header-title">Blazor Controls Documentation</h3>
    <span class="header-badge">
        <Badge BackgroundColor="Color.LightGray">
            <Content>
                v0.1
            </Content>
        </Badge>
    </span>
</div>
<div class="header-right">
    <Button>
        <Content>
            Purchase
        </Content>
    </Button>
</div>

@code {

}
