@inherits LayoutComponentBase
@using Controls.Buttons
@using System.Drawing
@using Controls.Badges
@using static Controls.Colors.ColorExtensions

<div class="container">
    <div class="header">
        <div class="header-left">
            <h3 class="header-title">Blazor Controls Documentation</h3>
            <span class="header-badge">
                <Badge Class="color-default">v0.1</Badge>
            </span>
        </div>
        <div class="header-right">
            <BasicButton Class="color-default">
                Purchase
            </BasicButton>
        </div>
    </div>
    <div class="sidebar">
        <MainSidebar></MainSidebar>
    </div>

    <main class="content">
        @Body
    </main>

    <div class="footer">footer</div>
</div>

@code {
    private static readonly Color badgeColor = Color.FromArgb(94, 164, 228);
}