@inherits LayoutComponentBase
@using Controls.Buttons
@using Controls.Sidebars
@using Controls.Images
@using System.Drawing
@using Controls.Containers;

<div class="container">
    <div class="header">header</div>
    <div class="sidebar">
        <Sidebar
            Title="@title"
            Items="sidebarItems"
            ButtonInfo="buttonInfo"
        >
            <Logo>
                <MMCube></MMCube>
            </Logo>
        </Sidebar>
    </div>

    <main class="content">
        <Container>
            <Content>
                @Body
            </Content>
        </Container>
    </main>

    <div class="footer">footer</div>
</div>

@code {
    private const string title = "Example Controls";
    private static readonly ISidebarItem[] sidebarItems = new ISidebarItem[]
    {
        new NavItem("Alerts", "alerts", string.Empty),
        new NavHeader("Header 1", new ISidebarItem[]
        {
            
            new NavItem("Item 1", "#", ""),
            new NavItem("Item 2", "#", ""),
            new NavHeader("Header 2", new ISidebarItem[]
            {
                new NavItem("Item 4", "#", ""),
                new NavItem("Item 5", "#", ""),
                new NavItem("Item 6", "#", ""),
            }),
            new NavItem("Item 7", "#", ""),
        }),
        new NavItem("Item 8", "#", ""),
    };
    private static readonly ButtonInfo buttonInfo = new(
        Color.Transparent,
        ButtonInfo.DefaultBackground,
        Color.Black,
        Color.White,
        null,
        null
    );
}