@inherits LayoutComponentBase
@using Controls.Buttons
@using Controls.Selection
@using Controls.Sidebars
@using Controls.Images
@using System.Drawing
@using Controls.Containers;

<div class="container">
    <div class="header">header</div>
    <div class="sidebar">
        <Sidebar
            Title="@title"
            Items="sidebarItems"
        >
            <Logo>
                <MMCube></MMCube>
            </Logo>
        </Sidebar>
    </div>

    <main class="content">
        <Container>
            <Content>
                @Body
            </Content>
        </Container>
    </main>

    <div class="footer">footer</div>
</div>

@code {
    private const string title = "Example Controls";
    private static readonly SelectionColors navItemColors = new()
    {
        StaticColors = new(Color.Transparent, Color.Black),
        HoverColors = ColorState.Default,
        ClickedColors = ColorState.Default,
        DisabledColors = ColorState.Disabled,
    };
    private static readonly ISidebarItem[] sidebarItems = new ISidebarItem[]
    {
        new NavHeader("Layout", new ISidebarItem[]
        {
            new NavItem("Grids", "grids", string.Empty, navItemColors),
            new NavItem("Sidebars", "sidebars", string.Empty, navItemColors),
            new NavItem("Headers", "headers", string.Empty, navItemColors),
            new NavItem("Footers", "footers", string.Empty, navItemColors),
            new NavItem("Containers", "containers", string.Empty, navItemColors),
            new NavItem("Code", "code", string.Empty, navItemColors),
        }),
        new NavItem("Alerts", "alerts", string.Empty, navItemColors),
        
        new NavItem("Breadcrumbs", "breadcrumbs", string.Empty, navItemColors),
        
        new NavItem("Calendars", "calendars", string.Empty, navItemColors),
        new NavItem("Captchas", "captchas", string.Empty, navItemColors),
        new NavItem("Chips", "chips", string.Empty, navItemColors),
        new NavItem("Clipboard", "clipboard", string.Empty, navItemColors),
        
        new NavItem("Collapsibles", "collapsibles", string.Empty, navItemColors),
        
        
        new NavItem("Cookies", "cookies", string.Empty, navItemColors),
        
        
        
        new NavHeader("Visual", new ISidebarItem[]
        {
            new NavItem("Animations", "animations", string.Empty, navItemColors),
            new NavItem("Spinners", "spinners", string.Empty, navItemColors),
        }),
        new NavHeader("Data", new ISidebarItem[]
        {
            new NavItem("Tables", "tables", string.Empty, navItemColors),
            new NavItem("Filters", "filters", string.Empty, navItemColors),
        }),
        new NavHeader("Media", new ISidebarItem[]
        {
            new NavItem("Audio", "audio", string.Empty, navItemColors),
            new NavItem("Images", "images", string.Empty, navItemColors),
            new NavItem("Videos", "videos", string.Empty, navItemColors),
        }),
        new NavHeader("Inputs", new ISidebarItem[]
        {
            new NavItem("Buttons", "buttons", string.Empty, navItemColors),
            new NavItem("Check Boxes", "checkboxes", string.Empty, navItemColors),
            new NavItem("Color Pickers", "colorpickers", string.Empty, navItemColors),
            new NavItem("Date Pickers", "datepickers", string.Empty, navItemColors),
            new NavItem("Draggables", "draggables", string.Empty, navItemColors),
            new NavItem("Dropdowns", "dropdowns", string.Empty, navItemColors),
            new NavItem("File Drops", "filedrops", string.Empty, navItemColors),
            new NavItem("Text", "text", string.Empty, navItemColors),
            //new NavItem("Text Editors", "editors", string.Empty, navItemColors),
        }),
    };
}