@inherits LayoutComponentBase
@using Controls.Buttons;
@using Controls.Selection;
@using Controls.Selection.SelectionBehaviors;
@using Controls.Sidebars;
@using Controls.Images;
@using System.Drawing;
@using Controls.Containers;
@using Controls.Badges;

<div class="container">
    <div class="header">
        <div class="header-left">
            <h3 class="header-title">Blazor Controls Documentation</h3>
            <span class="header-badge">
                <Badge BackgroundColor="Color.FromArgb(94, 164, 228)">v0.1</Badge>
            </span>
        </div>
        <div class="header-right">
            <Button>
                Purchase
            </Button>
        </div>
    </div>
    <div class="sidebar">
        <MainSidebar></MainSidebar>
    </div>

    <main class="content">
        @Body
    </main>

    <div class="footer">footer</div>
</div>

@code {
    
    
}