@inherits LayoutComponentBase
@using Controls.Buttons;
@using Controls.Selection;
@using Controls.Selection.SelectionBehaviors;
@using Controls.Sidebars;
@using Controls.Images;
@using System.Drawing;
@using Controls.Containers;
@using static Controls.Colors.ColorExtensions;

<div class="container">
    <div class="header">header</div>
    <div class="sidebar">
        <Sidebar>
            <Logo>
                <MMCube></MMCube>
            </Logo>
        </Sidebar>
    </div>

    <main class="content">
        <Container>
            <Content>
                @Body
            </Content>
        </Container>
    </main>

    <div class="footer">footer</div>
</div>

@code {
    
    
}