@inherits LayoutComponentBase
@using Controls.Buttons
@using System.Drawing
@using Controls.Badges
@using Controls.CssStates

<div class="container">
    <div class="header">
        <div class="header-left">
            <h3 class="header-title">Blazor Controls Documentation</h3>
            <span class="header-badge">
                <Badge Style=badgeStyle>v0.1</Badge>
            </span>
        </div>
        <div class="header-right">
            <Button>
                Purchase
            </Button>
        </div>
    </div>
    <div class="sidebar">
        <MainSidebar></MainSidebar>
    </div>

    <main class="content">
        @Body
    </main>

    <div class="footer">footer</div>
</div>

@code {
    private static readonly CssStyle badgeStyle = new(new CssColor("background-color", Color.FromArgb(94, 164, 228)));
}