.body {
    margin: 0;
}

/*
    https://codepen.io/mozilladevelopers/pen/dVpQVV
    https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids
    https://hacks.mozilla.org/2017/04/replace-bootstrap-layouts-with-css-grid/
*/

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 
        [footer-start sidebar-start] auto
        [sidebar-end header-start content-start] 1fr
        [footer-end header-end content-start];
    grid-template-rows:
        [row1-start] 80px 
        [row2-start] 1fr 
        [row3-start] 50px 
        [row3-end];
}

.header {
    grid-column: header-start / header-end;
    grid-row: row1-start / row2-start;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: row1-start / row3-start;
}

.footer {
    grid-column: footer-start / footer-end;
    grid-row: row3-start / row3-end;
}

.content {
    grid-column: content-start / content-end;
    grid-row: row2-start / row3-start;
    display: flex;
    background-color: #f5f8fa;
}