.body {
    margin: 0;
}

/*
    https://codepen.io/mozilladevelopers/pen/dVpQVV
    https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids
    https://hacks.mozilla.org/2017/04/replace-bootstrap-layouts-with-css-grid/
*/

::deep .badge-rectangle {
    box-shadow: 1px 1px 5px #888888;
}

.content {
    background-color: #f5f8fa;
    overflow-y: auto;
}

.header-left {
    margin: 1rem;
}