@using Sizing;

<div class="container" style="@Style">
    @Content
</div>

@code {
    private string ColumnsString => Columns is not null ? $"grid-template-columns: {Columns};" : "";
    private string AutoRowsString => AutoRows is not null ? $"grid-auto-rows: {AutoRows};" : "";
    private string GapString => Gap is not null ? $"gap: {Gap};" : "";
    private string Style => $"{ColumnsString}{AutoRowsString}{GapString}";

    [Parameter]
    public IColumns? Columns { get; set; }

    [Parameter]
    public IRows? AutoRows { get; set; }

    [Parameter]
    public IGap? Gap { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment? Content { get; set; }
}
