<div class="list @OrientationStyle" @attributes=InputAttributes>
    @ChildContent
</div>

@code {
    private string OrientationStyle => Orientation switch
    {
        ListOrientation.Vertical => "vertical",
        ListOrientation.Horizontal => "horizontal",
        _ => string.Empty,
    };

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? InputAttributes { get; set; }

    [Parameter]
    public ListOrientation Orientation { get; set; } = ListOrientation.Vertical;

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
