@using Controls.Collapsibles;
@using Controls.Buttons;
@using Controls.Lists.SelectionCollections

<CollapsibleButton 
    OnCollapse="OnCollapse"
    Colors="Item.SelectionColors"
    Display="@display"
>
    <Content>
        @Item.Text
    </Content>
</CollapsibleButton>
<div class="nav-header-children">
    <Collapsible IsCollapsed="@isCollapsed">
        <Template>
            <SidebarList Items="Item.Children" SelectionCollection="SelectionCollection"></SidebarList>
        </Template>
    </Collapsible>
</div>

@code {
    private const string display = "block";

    private bool isCollapsed = false;

    [EditorRequired]
    [Parameter]
    public ISidebarItem Item { get; set; }

    [Parameter]
    public SelectionCollection<ISidebarItem> SelectionCollection { get; set; } = new(SelectionType.Single);

    public void OnCollapse(bool isCollapsed)
    {
        this.isCollapsed = isCollapsed;
        StateHasChanged();
    }
}
