:root {
    --sidebar-width: 280px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.sidebar-container {
    padding: 1rem;
    width: var(--sidebar-width);
    display: block;
    color: #212529;
}

.sidebar-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.sidebar-list {
    margin-bottom: auto;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.active {
        margin-left: 0;
    }
}

.sidebar-header {
    text-decoration: none;
    padding-bottom: 1rem;
    margin-top: 1rem;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    display: flex;
}

.sidebar-icon {
    vertical-align: -0.125em;
    pointer-events: none;
    fill: currentColor;
    margin-right: 0.5rem;
}