@using Controls.Collapsibles;
@using Controls.Buttons;

<CollapsibleButton 
    OnClick="OnClick"
    ButtonInfo="ButtonInfo"
    Display="@display"
>
    <Content>
        @Item.Text
    </Content>
</CollapsibleButton>
<div class="nav-header-children">
    <Collapsible IsCollapsed="@isCollapsed">
        <Template>
            <SidebarList Items="Item.Children" ButtonInfo="ButtonInfo"></SidebarList>
        </Template>
    </Collapsible>
</div>

@code {
    private const string display = "block";

    private bool isCollapsed = true;

    [Parameter]
    public ButtonInfo ButtonInfo { get; set; } = ButtonInfo.Default;

    [EditorRequired]
    [Parameter]
    public ISidebarItem Item { get; set; }

    public void OnClick() => isCollapsed = !isCollapsed;
}
