:root {
    --sidebar-width: 280px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.sidebar-container {
    width: var(--sidebar-width);
    display: flex;
    color: #212529;
    height: 100%;
    flex-flow: column;
    box-shadow: 1px 0 2px 0 rgba(60,64,67,0.15);
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.active {
            margin-left: 0;
        }
}