@using Buttons;
@using Controls.Selection;
@using Controls.Selection.SelectionBehaviors;

<div class="sidebar-container">
    <div class="sidebar-header">
        @if (Logo is not null)
        {
            <div class="sidebar-icon">
                @Logo
            </div>
        }
        <span class="sidebar-title">@Title</span>
    </div>
    
    <div class="sidebar-list">
        <SidebarList Items="Items"></SidebarList>
    </div>
</div>

@code {
    private readonly SelectionCollection selectionCollection = new(ISelectionBehavior.Single);

    [Parameter]
    public IEnumerable<ISidebarItem> Items { get; set; } = Array.Empty<ISidebarItem>();

    [Parameter]
    public RenderFragment? Logo { get; set; }

    [Parameter]
    public string? Title { get; set; }
}
