:root {
    --sidebar-width: 280px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.sidebar-container {
    padding: 1rem;
    width: var(--sidebar-width);
    display: flex;
    color: #212529;
    height: 100%;
    flex-flow: column;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.active {
            margin-left: 0;
        }
}