@using Buttons;
@using Controls.Selection;
@using Controls.Selection.SelectionBehaviors;
@using Controls.Sidebars.States
@inject SidebarState State

<div class="sidebar-container">
    <div class="sidebar-header">
        @if (Logo is not null)
        {
            <div class="sidebar-icon">
                @Logo
            </div>
        }
        <span class="sidebar-title">@State.Title</span>
    </div>
    
    <div class="sidebar-list">
        <SidebarList Items="State.Items"></SidebarList>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? Logo { get; set; }

    //protected override void OnInitialized()
    //{
    //    State.
    //}
}
