@using Controls.Buttons;

<Button 
    Href="@Item.Link"
    Display="@display"
>
    <Content>
        @if (!string.IsNullOrWhiteSpace(Item.SvgTag))
        {
            <svg class="nav-icon" width="16" height="16"><use href="#@Item.SvgTag"></use></svg>
        }
        @Item.Text
    </Content>
</Button>

@code {
    private const string display = "block";

    [Parameter]
    public ISidebarItem Item { get; set; }
}
