@using Buttons;
@using Controls.Lists.SelectionCollections

<div class="sidebar-container">
    <div class="sidebar-header">
        @if (Logo is not null)
        {
            <div class="sidebar-icon">
                @Logo
            </div>
        }
        <span class="sidebar-title">@Title</span>
    </div>
    
    <div class="sidebar-list">
        <SidebarList Items="Items" SelectionCollection="selectionCollection"></SidebarList>
    </div>
</div>

@code {
    private readonly SelectionCollection<ISidebarItem> selectionCollection = new(SelectionType.Single);

    [Parameter]
    public IEnumerable<ISidebarItem> Items { get; set; } = Array.Empty<ISidebarItem>();

    [Parameter]
    public RenderFragment? Logo { get; set; }

    [Parameter]
    public string? Title { get; set; }
}
