@using Controls.Selection

<div class="sidebar-container">
    <div class="sidebar-header">
        @if (Logo is not null)
        {
            <div class="sidebar-icon">
                @Logo
            </div>
        }
        <span class="sidebar-title">@Title</span>
    </div>
    
    <div class="sidebar-list">
        <SingleSelectionContainer T=string ActiveValueChanged=StateHasChanged>
            @ChildContent
        </SingleSelectionContainer>
    </div>
</div>



@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? Logo { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
