@using Controls.Collapsibles;
@using Controls.Buttons;
@using Controls.Selection;

<Selectable TItem="ISidebarItem" Item="Item">
    <Content>
        <CollapsibleButton TItem="ISidebarItem" Item="Item">
            <Content>
                @Item.Text
            </Content>
        </CollapsibleButton>
    </Content>
</Selectable>

<div class="nav-header-children">
    <Collapsible TItem="ISidebarItem" Item="Item">
        <Template>
            <SidebarList Items="Item.Children"></SidebarList>
        </Template>
    </Collapsible>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public ISidebarItem Item { get; set; }
}
