.nav-header-children {
    padding-left: 2rem;
}

.nav-header-container {
    border-bottom: 1px solid #dadce0;
    padding: 5px 0 5px 0;
}

.nav-header-text {
    color: black;
    font-weight: 700;
    padding-left: 1rem;
}