@using Controls.Collapsibles
@using Controls.Buttons
@using Controls.Selection

<div class="nav-header-container">
    <Button @onclick=OnClick>
        <CollapsibleSelector IsCollapsed="isSelected"><span class="nav-header-text">@Text</span></CollapsibleSelector>
    </Button>

    <div class="nav-header-children">
        <Collapsible IsCollapsed="isSelected">
            <CascadingValue Value=this IsFixed=true>
                @ChildContent
            </CascadingValue>
        </Collapsible>
    </div>
</div>


@code {
    private bool isSelected;

    [CascadingParameter]
    public NavHeader? CurrentHeader { get; set; }

    [Parameter, EditorRequired]
    public string? Text { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    public void Select(bool isSelected)
    {
        this.isSelected = isSelected;
        StateHasChanged();
        CurrentHeader?.Select(isSelected);
    }

    private void OnClick() => isSelected = !isSelected;
}
