::deep .nav-item {
    border: 0;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 12px;
}

::deep .nav-item.selected:hover {
    filter: unset;
}