.slider-range {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: rgba(17, 81, 243, 0.16);
    border: 1px solid rgba(17, 81, 243, 0.16);
}
