<span class="slider-node" @*@onmousedown="OnMouseDown" @onmouseup="OnMouseUp" @onmousemove="OnMouseMove"*@></span>

@code {
    //private int left = 0;
    //private bool isMouseDown = false;

    //private string Style => $"left:{left}%;";

    //private void OnMouseDown() => isMouseDown = true;

    //private void OnMouseUp() => isMouseDown = false;

    //private void OnMouseMove(MouseEventArgs args)
    //{
    //}
}
