<div class="stepped-slider-container">
  <input type="range" min="@MinValue" max="@MaxValue" @bind-value="Value" class="stepped-slider">
</div>

@code {
    [Parameter]
    public int MinValue { get; set; } = 0;

    [Parameter]
    public int MaxValue { get; set; } = 100;

    [Parameter]
    public int Value { get; set; } = 0;
}
