.stepped-slider-container {
    width: 100%;
}

.stepped-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.stepped-slider:hover {
    opacity: 1; 
}

.stepped-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 0.25rem solid #1151F3;
    border-radius: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    transition: background-color 0.1s 0.1s linear, color 0.1s linear, border 0.1s linear;
    cursor: pointer;
}

.stepped-slider::-moz-range-thumb {
    background-color: #ffffff;
    border: 0.25rem solid #1151F3;
    border-radius: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    transition: background-color 0.1s 0.1s linear, color 0.1s linear, border 0.1s linear;
    cursor: pointer;
}
