@using Controls.Lists
@using Controls.Selection

<div class="line-tab-container">
    <List Orientation=ListOrientation.Horizontal>
        <SingleSelectionContainer @bind-ActiveValue="BoundValue">
            @ChildContent
        </SingleSelectionContainer>
    </List>
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ITab? ActiveTab { get; set; }

    [Parameter]
    public EventCallback<ITab?> ActiveTabChanged { get; set; }

    private ITab? BoundValue
    {
        get => ActiveTab;
        set => ActiveTabChanged.InvokeAsync(value);
    }
}
