@using Controls.Selection
@using Controls.Buttons
@implements ITab

<li>
    <a
        @onmouseover="OnMouseOver"
        @onmouseout="OnMouseOut"
        @onclick="ActivateTab" 
        class="tab-item" 
        style="@CssStyles" 
        role="button"
    >
        @Content
    </a>
</li>

@code {
    private bool isHovered;

    private Styles CssStyles 
    {
        get
        {
            if (SelectionContainer?.ActiveValue == this)
                return SelectedColors;
            if (isHovered)
                return HoverColors;
            return DefaultColors;
        }
    }

    [CascadingParameter]
    public SingleSelectionContainer<ITab>? SelectionContainer { get; set; }

    [Parameter, EditorRequired]
    public Styles DefaultColors { get; set; }

    [Parameter, EditorRequired]
    public Styles HoverColors { get; set; }

    [Parameter, EditorRequired]
    public Styles SelectedColors { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? Content { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsDefault { get; set; }

    [Parameter]
    public EventCallback OnSelect { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (IsDefault)
            await ActivateTab();
    }

    private Task ActivateTab()
    {
        SelectionContainer?.AddValue(this);
        return OnSelect.InvokeAsync();
    }

    private void OnMouseOver() => isHovered = true;

    private void OnMouseOut() => isHovered = false;
}
