@implements ITab

<li>
    <a
        @onmouseover="OnMouseOver"
        @onmouseout="OnMouseOut"
        @onclick="ActivateTab" 
        class="tab-item" 
        style="@Style" 
        role="button"
    >
        @Content
    </a>
</li>

@code {
    private bool isHovered;

    private string Style 
    {
        get
        {
            if (ContainerTabSet?.ActiveTab == this)
                return Colors.ClickedColors.Value;
            if (isHovered)
                return Colors.HoverColors.Value;
            return Colors.DefaultColors.Value;
        }
    }

    [CascadingParameter]
    public TabContainer? ContainerTabSet { get; set; }

    [Parameter]
    public TabColors Colors { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsDefault { get; set; }

    protected override void OnInitialized()
    {
        if (IsDefault)
            ActivateTab();
    }

    private void ActivateTab() => ContainerTabSet?.SetActiveTab(this);

    private void OnMouseOver() => isHovered = true;

    private void OnMouseOut() => isHovered = false;
}
