@using Controls.Selection
@using Controls.Lists

<div class="@TabContainerDirectionClass">
    <div class="@TableTypeClass">
        <List Orientation="Orientation">
            <SingleSelectionContainer @bind-ActiveValue="activeTab">
                @ChildContent
            </SingleSelectionContainer>
        </List>
    </div>

    @activeTab?.ChildContent
</div>



@code {
    private ITab? activeTab;

    private string TabContainerDirectionClass => Orientation switch
    {
        ListOrientation.Vertical => "tab-header-container-vertical",
        ListOrientation.Horizontal => "tab-header-container-horizontal",
        _ => "",
    };

    private string TableTypeClass => TabType switch
    {
        TabType.Line => "tab-container-line",
        TabType.Pill => "tab-container-pill",
        _ => "",
    };

    [Parameter]
    public TabType TabType { get; set; } = TabType.Line;

    [Parameter]
    public ListOrientation Orientation { get; set; } = ListOrientation.Horizontal;

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
