@using Controls.Selection
@using Controls.Lists

<div class="@TableTypeClass">
    <List Orientation="Orientation">
        <SingleSelectionContainer @bind-ActiveValue="BoundValue">
            @ChildContent
        </SingleSelectionContainer>
    </List>
</div>



@code {
    private string TableTypeClass => TabType switch
    {
        TabType.Line => "tab-container-line",
        TabType.Pill => "tab-container-pill",
        _ => "",
    };

    [Parameter]
    public TabType TabType { get; set; } = TabType.Line;

    [Parameter]
    public ListOrientation Orientation { get; set; } = ListOrientation.Horizontal;

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ITab? ActiveTab { get; set; }

    [Parameter]
    public EventCallback<ITab?> ActiveTabChanged { get; set; }

    private ITab? BoundValue
    {
        get => ActiveTab;
        set => ActiveTabChanged.InvokeAsync(value);
    }
}
