<div class="input-group mb-2">
    <input @bind="@filterText" @oninput="OnFilterChanged" class="form-control" placeholder="@PlaceHolder" />
    <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" @onclick="ClearFilterText">
            <span class="oi oi-x"></span>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnFilter { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; } = "Filter";

    private string filterText = "", previousFilterText = "";

    private async Task OnFilterChanged(ChangeEventArgs _)
    {
        if (!filterText.Equals(previousFilterText, StringComparison.OrdinalIgnoreCase))
        {
            previousFilterText = filterText;
            await OnFilter.InvokeAsync(filterText);
        }
    }

    private void ClearFilterText()
    {
        filterText = "";
    }
}