.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: unset;
    max-width: calc(100% - 80px);
    max-height: calc(100% - 80px);
}

.header {
    border-bottom: 1px solid #e4e6ef;
    padding-bottom: 1rem;
}

.content {
    overflow-y: auto;
    padding: 20px;
}

.header-left {
    display: block;
}

.header-left h1 {
    margin-bottom: 0px;
}

.header-left small {
    color: #505050
}

.alert-slider-container, .card-inline, .example-button {
    padding: 20px;
    display: flex;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}

.alert-slider-container > ::deep *, .card-inline > ::deep *, .example-button > ::deep * {
    margin-left: 10px;
}

::deep .stepped-slider-container {
    max-width: 300px;
}

#alert-container, #alert-location, #alert-publisher, #multiple-alerts, #basic-alerts, #custom-alerts, #publisher-dependency-injection {
    margin-top: 20px;
}