.alert-slider-container, .card-inline, .example-button {
    padding: 20px;
    display: flex;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}

.alert-slider-container > ::deep *, .card-inline > ::deep *, .example-button > ::deep * {
    margin-left: 10px;
}

::deep .stepped-slider-container {
    max-width: 300px;
}