@using Controls.Css

<Button 
    Href=@Href
    CssClasses=CssClasses
    CssStyles=CssStyles
    OnClick=OnClick
    OnHover=OnHover
    ChildContent=ChildContent
>
</Button>

@code {
    private bool isHovered;

    private Styles CssStyles => isHovered ? DefaultStyle : HoverStyle;

    [Parameter]
    public string? Href { get; set; }

    [Parameter, EditorRequired]
    public Styles DefaultStyle { get; init; }

    [Parameter, EditorRequired]
    public Styles HoverStyle { get; init; }

    [Parameter]
    public Classes? CssClasses { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    private void OnHover(bool isHovered) => this.isHovered = isHovered;
}
