<a href="@Href" class="btn" style="@Style" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" @onclick="OnClick">
    @Content
</a>

@code {
    private bool isHovered = false;

    private string textHoveredString => isHovered ? ButtonInfo.TextHover : ButtonInfo.Text;
    private string backgroundHoveredString => isHovered ? ButtonInfo.BackgroundHover : IsSelected ? ButtonInfo.Clicked : ButtonInfo.Background;
    private string Style => $"display:{Display};color: {textHoveredString};background-color: {backgroundHoveredString};";

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public string Href { get; set; } = "javascript: void(0);";

    [Parameter]
    public string Display { get; set; } = "inline-block";

    [Parameter]
    public EventCallback OnClick { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public ButtonInfo ButtonInfo { get; set; } = ButtonInfo.Default;

    private void OnMouseOver() => isHovered = true;

    private void OnMouseOut() => isHovered = false;
}
