<a href="@Href" class="btn" style="display: @Display">
    @Content
</a>

@code {
    [Parameter]
    public string Href { get; set; } = "javascript: void(0);";

    [Parameter]
    public string Display { get; set; } = "inline-block";

    [EditorRequired]
    [Parameter]
    public RenderFragment? Content { get; set; }
}
