@using Controls.Animations
@using Controls.Css

@implements ICustomizable

<a 
    href="@Href" 
    class="btn @CssClasses"
    style="@CssStyles"
    @onclick="OnClick"
    @onmouseover="OnMouseOver"
    @onmouseout="OnMouseOut"
>
    @ChildContent
</a>

@code {
    [Parameter]
    public Classes? CssClasses { get; set; }

    [Parameter]
    public Styles? CssStyles { get; set; }

    [Parameter]
    public string Href { get; set; } = "javascript: void(0);";

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public EventCallback<bool> OnHover { get; set; }

    private Task OnMouseOver() => OnHover.InvokeAsync(true);

    private Task OnMouseOut() => OnHover.InvokeAsync(false);
}
