a {
    border: 0;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.475rem;
    text-decoration: none;
    position: relative;
    display: block;
    white-space: nowrap;
    text-align: center;
    background-color: var(--button-background-color);
    color: var(--button-color);
}